
<div class="wrapper">
<nav id="sidebar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/dashboard">Wheel Of Jeopardy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
  
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/game">Game</a>
    </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/administrator">Administrator</a>
      </li> -->
      
    </ul>
   
  </div>
</nav>
</div>
