.wheelTitle{
    margin-left:60px;
}

.wheel{
    margin:auto;
}

.wheelButton{
    margin-left:60px;
    margin-top:10px;
}

.playersDiv{
    margin-top: 30px;
}
.questionPicked{
    background-color: #c0c4c6 !important;
}

.GameStatus{
    margin-left: 70px;
}