<div class="bg-ligh">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-3 wheelDiv" >
          <h4 class="sub-header wheelTitle" >Wheel</h4>
          <div class="row wheel" > 
            <img src="assets/images/wheel.png" alt="image">
          </div>
          <div class="row wheelButton"> 
            <button class="btn btn-success btn-sm spinWheelButton" (click)="spinWheel()">Spin Wheel</button>
          </div>
      </div>
    <div class="col-md-6 ">
        <h4 class="sub-header">Question Board</h4> 
        <table class="table table-bordered table-sm" ng-disabled="true">
            <thead class="thead-light">
              <tr>
                <th *ngFor="let cat of categories; let i=index"><button class="btn btn-danger btn-sm disabled categoryButton" (click)="pickNextQuestion(i)">{{cat.title}}</button></th>
              </tr>
            </thead>
            <tbody>
              <!-- Need to makes this table better to handle coloring when questions are being picked -->
             <tr>                
                <td class="question0-0"><div *ngIf="gameStatus.roundNumber==1">$200</div><div *ngIf="gameStatus.roundNumber==2">$400</div></td>
                <td class="question0-1"><div *ngIf="gameStatus.roundNumber==1">$200</div><div *ngIf="gameStatus.roundNumber==2">$400</div></td>
                <td class="question0-2"><div *ngIf="gameStatus.roundNumber==1">$200</div><div *ngIf="gameStatus.roundNumber==2">$400</div></td>
                <td class="question0-3"><div *ngIf="gameStatus.roundNumber==1">$200</div><div *ngIf="gameStatus.roundNumber==2">$400</div></td>
                <td class="question0-4"><div *ngIf="gameStatus.roundNumber==1">$200</div><div *ngIf="gameStatus.roundNumber==2">$400</div></td>
                <td class="question0-5"><div *ngIf="gameStatus.roundNumber==1">$200</div><div *ngIf="gameStatus.roundNumber==2">$400</div></td>
              </tr> 
              <tr>                
                  <td class="question1-0"><div *ngIf="gameStatus.roundNumber==1">$400</div><div *ngIf="gameStatus.roundNumber==2">$800</div></td>
                  <td class="question1-1"><div *ngIf="gameStatus.roundNumber==1">$400</div><div *ngIf="gameStatus.roundNumber==2">$800</div></td>
                  <td class="question1-2"><div *ngIf="gameStatus.roundNumber==1">$400</div><div *ngIf="gameStatus.roundNumber==2">$800</div></td>
                  <td class="question1-3"><div *ngIf="gameStatus.roundNumber==1">$400</div><div *ngIf="gameStatus.roundNumber==2">$800</div></td>
                  <td class="question1-4"><div *ngIf="gameStatus.roundNumber==1">$400</div><div *ngIf="gameStatus.roundNumber==2">$800</div></td>
                  <td class="question1-5"><div *ngIf="gameStatus.roundNumber==1">$400</div><div *ngIf="gameStatus.roundNumber==2">$800</div></td>
                </tr> 
            <tr>                
                <td class="question2-0"><div *ngIf="gameStatus.roundNumber==1">$600</div><div *ngIf="gameStatus.roundNumber==2">$1200</div></td>
                <td class="question2-1"><div *ngIf="gameStatus.roundNumber==1">$600</div><div *ngIf="gameStatus.roundNumber==2">$1200</div></td>
                <td class="question2-2"><div *ngIf="gameStatus.roundNumber==1">$600</div><div *ngIf="gameStatus.roundNumber==2">$1200</div></td>
                <td class="question2-3"><div *ngIf="gameStatus.roundNumber==1">$600</div><div *ngIf="gameStatus.roundNumber==2">$1200</div></td>
                <td class="question2-4"><div *ngIf="gameStatus.roundNumber==1">$600</div><div *ngIf="gameStatus.roundNumber==2">$1200</div></td>
                <td class="question2-5"><div *ngIf="gameStatus.roundNumber==1">$600</div><div *ngIf="gameStatus.roundNumber==2">$1200</div></td>
              </tr> 
              <tr>                
                  <td class="question3-0"><div *ngIf="gameStatus.roundNumber==1">$800</div><div *ngIf="gameStatus.roundNumber==2">$1600</div></td>
                  <td class="question3-1"><div *ngIf="gameStatus.roundNumber==1">$800</div><div *ngIf="gameStatus.roundNumber==2">$1600</div></td>
                  <td class="question3-2"><div *ngIf="gameStatus.roundNumber==1">$800</div><div *ngIf="gameStatus.roundNumber==2">$1600</div></td>
                  <td class="question3-3"><div *ngIf="gameStatus.roundNumber==1">$800</div><div *ngIf="gameStatus.roundNumber==2">$1600</div></td>
                  <td class="question3-4"><div *ngIf="gameStatus.roundNumber==1">$800</div><div *ngIf="gameStatus.roundNumber==2">$1600</div></td>
                  <td class="question3-5"><div *ngIf="gameStatus.roundNumber==1">$800</div><div *ngIf="gameStatus.roundNumber==2">$1600</div></td>
                </tr> 
                <tr>                
                    <td class="question4-0"><div *ngIf="gameStatus.roundNumber==1">$1000</div><div *ngIf="gameStatus.roundNumber==2">$2000</div></td>
                    <td class="question4-1"><div *ngIf="gameStatus.roundNumber==1">$1000</div><div *ngIf="gameStatus.roundNumber==2">$2000</div></td>
                    <td class="question4-2"><div *ngIf="gameStatus.roundNumber==1">$1000</div><div *ngIf="gameStatus.roundNumber==2">$2000</div></td>
                    <td class="question4-3"><div *ngIf="gameStatus.roundNumber==1">$1000</div><div *ngIf="gameStatus.roundNumber==2">$2000</div></td>
                    <td class="question4-4"><div *ngIf="gameStatus.roundNumber==1">$1000</div><div *ngIf="gameStatus.roundNumber==2">$2000</div></td>
                    <td class="question4-5"><div *ngIf="gameStatus.roundNumber==1">$1000</div><div *ngIf="gameStatus.roundNumber==2">$2000</div></td>
                  </tr>             
              
            </tbody>
          </table>
      </div>
      <div class="col-md-2">
        <table class="table table-bordered col-md-4 GameStatus">
          <thead>
              <tr>
                  <th colspan="2">Game Status</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Turn of: {{gameStatus.playerInTurnName}} </td>                  
              </tr>
              <tr>
                <td>Num of Round: {{gameStatus.roundNumber}} </td>                  
            </tr>
            <tr>
              <td>Num of Spins left in Round: {{gameStatus.spinsInRound}} </td>                  
          </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div class="row playersDiv">
        
        <table class="table table-bordered col-md-4 players" *ngFor="let player of players">
          <thead>
              <tr>
                  <th colspan="2">{{player.name}}</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Points: {{player.totalPoints}}</td>
                  <td>Tokens: {{player.numTokens}}</td>
              </tr>
          </tbody>
        </table>
       
      </div>
      
  </div>
</div>
<button id="triggerModalButton" type="button" [hidden]="true" data-toggle="modal" data-target="#wheelResultModal"  class="btn btn-sm btn-outline-secondary">wheelResult</button>
<button id="messageModalButton" type="button" [hidden]="true" data-toggle="modal" data-target="#messageModal"  class="btn btn-sm btn-outline-secondary">other messages</button>
<button id="message2ModalButton" type="button" [hidden]="true" data-toggle="modal" data-target="#message2Modal"  class="btn btn-sm btn-outline-secondary">freeTurn/bankrup/loseturn</button>
<button id="triggerModalButtonPickQuestion" type="button" [hidden]="true" data-toggle="modal" data-target="#displayQuestionModal"  class="btn btn-sm btn-outline-secondary">questionPicked</button>
<button id="triggerModalButtonDisplayAnswer" type="button" [hidden]="true" data-toggle="modal" data-target="#displayAnswerModal"  class="btn btn-sm btn-outline-secondary">displayAnswer</button>
<button id="triggerModalButtonPlayerHasTokens" type="button" [hidden]="true" data-toggle="modal" data-target="#useTokenModal"  class="btn btn-sm btn-outline-secondary">displayAnswer</button>
<button id="triggerModalShowWinner" type="button" [hidden]="true" data-toggle="modal" data-target="#winnerModal"  class="btn btn-sm btn-outline-secondary">displayAnswer</button>

<!-- Modals -->
<div id="displayAnswerModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Answer: </h5>
        
      </div>
      <div class="modal-body">
        
          <div class="form-group">
              <label for="title">The answer to the question is: {{nextAnswer}}<br>Did {{gameStatus.playerInTurnName}} answer correctly?</label>
              
            </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="correctAnswer()">Yes</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="wrongAnswer()">No</button>
      </div>
    </div>
  </div>
</div>

<div id="useTokenModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{gameStatus.playerInTurnName}} you have at least one token</h5>
       
      </div>
      <div class="modal-body">
        
          <div class="form-group">
              <label for="title">Do you want to use one token?</label>
              
            </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="useToken()">Yes</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="dontUseToken()">No</button>
      </div>
    </div>
  </div>
</div>
<div id="displayQuestionModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Question: </h5>
        <button [hidden]="true" id="closeQuestionModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="form-group">
              <label for="title">{{gameStatus.playerInTurnName}} answer the following question: {{nextQuestion}}</label>
            </div>        
      </div>
      <div class="modal-footer">
        <p class="timerLabel">Timeout in: {{timer}}</p><button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="displayAnswer()"> Show Answer</button>
      </div>
    </div>
  </div>
</div>
<div id="wheelResultModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Wheel Result</h5>
       
      </div>
      <div class="modal-body">
        
          <div class="form-group">
              <label for="title">Wheel Landed on: {{sector.name}}</label>
			  <p></p>
			  <div>
			  {{userPrompt}}
			  </div>
			  <!--
			  <div ng-switch={{sector.value}}>
				<div ng-switch-when="Category">Category Sector</div>
				<div ng-switch-when="YourChoice">Player picks a category</div>
				<div ng-switch-when="OpponentsChoice">Opponent picks a category</div>				
				<div ng-switch-default></div>			  
			  </div>
			  -->
			  <!--
			  <label [class.selected]="Category === sector.value">
				Category Sector
			  </label>			  
			  <label [class.selected]="YourChoice === sector.value">
				Player picks a category
			  </label>			  
			  <label [class.selected]="OpponentsChoice === sector.value">
				Opponent picks a category
			  </label>
-->			  
          </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="parseSpinResult()">Ok</button>
      </div>
    </div>
  </div>
</div>
<div id="messageModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
       
      </div>
      <div class="modal-body">
        
          <div class="form-group">
              <label for="message">{{message}}</label><br>
             
            </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<div id="message2Modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
       
      </div>
      <div class="modal-body">
        
          <div class="form-group">
              <label for="message">{{message}}</label><br>
             
            </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="nextTurn()">Ok</button>
      </div>
    </div>
  </div>
</div>

<div id="winnerModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">And the winner is.......</h5>
       
      </div>
      <div class="modal-body">
        
          <div class="form-group">
              <label for="message">Congratulations {{winner}}!!!!!!</label><br>
             
            </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/dashboard">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- <div id="categoryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{action}} Category Window</h5>
      <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" [(ngModel)]="tempCategory.title"class="form-control" id="categoryName" aria-describedby="categoryName" placeholder="Enter Category Title">
        </div>
        <div class="form-group">
          <label for="name">$200 Question Statement</label>
          <input type="text" [(ngModel)]="tempCategory.questions[0].qStatement"class="form-control" id="categoryQuestion1" aria-describedby="categoryQuestion1" placeholder="Enter $200 Question Statement">
          <label for="name">$200 Question Answer</label>
          <input type="text" [(ngModel)]="tempCategory.questions[0].qAnswer"class="form-control" id="categoryAnswer1" aria-describedby="categoryAnswer1" placeholder="Enter $200 Question Answer">
        </div>
        <div class="form-group">
          <label for="name">$400 Question Statement</label>
          <input type="text" [(ngModel)]="tempCategory.questions[1].qStatement"class="form-control" id="categoryQuestion2" aria-describedby="categoryQuestion2" placeholder="Enter $400 Question Statement">
          <label for="name">$400 Question Answer</label>
          <input type="text" [(ngModel)]="tempCategory.questions[1].qAnswer"class="form-control" id="categoryAnswer2" aria-describedby="categoryAnswer2" placeholder="Enter $400 Question Answer">
        </div>
        <div class="form-group">
          <label for="name">$600 Question Statement</label>
          <input type="text" [(ngModel)]="tempCategory.questions[2].qStatement"class="form-control" id="categoryQuestion3" aria-describedby="categoryQuestion3" placeholder="Enter $600 Question Statement">
          <label for="name">$600 Question Answer</label>
          <input type="text" [(ngModel)]="tempCategory.questions[2].qAnswer"class="form-control" id="categoryAnswer3" aria-describedby="categoryAnswer3" placeholder="Enter $600 Question Answer">
        </div>
        <div class="form-group">
          <label for="name">$800 Question Statement</label>
          <input type="text" [(ngModel)]="tempCategory.questions[3].qStatement"class="form-control" id="categoryQuestion4" aria-describedby="categoryQuestion4" placeholder="Enter $800 Question Statement">
          <label for="name">$800 Question Answer</label>
          <input type="text" [(ngModel)]="tempCategory.questions[3].qAnswer"class="form-control" id="categoryAnswer4" aria-describedby="categoryAnswer4" placeholder="Enter $800 Question Answer">
        </div>
        <div class="form-group">
          <label for="name">$1000 Question Statement</label>
          <input type="text" [(ngModel)]="tempCategory.questions[4].qStatement"class="form-control" id="categoryQuestion5" aria-describedby="categoryQuestion5" placeholder="Enter $1000 Question Statement">
          <label for="name">$1000 Question Answer</label>
          <input type="text" [(ngModel)]="tempCategory.questions[4].qAnswer"class="form-control" id="categoryAnswer5" aria-describedby="categoryAnswer5" placeholder="Enter $1000 Question Answer">
        </div>
        
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal"(click)="executeCategoryAction()">{{action}} Category</button>
    </div>
  </div>
</div>
</div>

<div id="deleteCategory" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{action}} Category</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="form-group">
            <label for="name">Are you sure you want to delete this Category?</label>
          </div>
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="executeCategoryAction()">{{action}}</button>
      </div>
    </div>
  </div>
</div> -->